* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  background-color: rgb(212, 128, 24);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

header a {
  text-decoration: none;
  color: white;
  padding: 10px;
  transition: 0.5s ease-in-out;
}

header ul li a:hover {
  border-radius: 10px;
  background-color: brown;
}

.navbar {
  display: flex;
}

@media screen and (max-width: 900px) {
  .navbar {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background: white;
    gap: 10px;
    flex-direction: column;
    padding-top: 100px;
    align-items: center;
    justify-items: center;
    gap: 20px;
  }
  header ul li a {
    color: black;
    margin-top: 10px;
    padding-right: 20px;
  }
  header ul li {
    margin-top: 20px;
  }
}
